<!-- 
      ! https://github.com/Prakhar-002
      ? © prakhar.katiyar.002@gmail.com
-->

<footer class="footer">
      <div class="container">

            <p class="body-large text-on-surface-varient">
                  @ Copyright 2024
                  <a class="footer-link" target="_blank" href="https://github.com/Prakhar-002">Prakhar-002</a>
            </p>

      </div>
</footer>